.container {
  background-color: #22353c;
  width: 100%; }

* {
  margin: 0%;
  padding: 0%; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: black; }

.box {
  margin-bottom: 6 bnnb  0px;
  margin-left: 50px; }

.boxContainer {
  position: absolute; }

input.src {
  padding: 9px 10px 9px 32px;
  outline: none;
  font-size: 20px;
  border-radius: +15px;
  color: gray;
  border: 3px solid grey;
  background: #fff url("./assets/img/serch-icon.png") no-repeat 9px center;
  width: 5px;
  transition: all .5s; }

input.src:focus {
  width: 60px;
  background-color: #fff;
  border-color: #8c10b3;
  box-shadow: 0 0 5px #8c10b3; }

.menu_header {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 20px; }
  .menu_header li {
    margin-right: 10px; }
    .menu_header li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #e7e3e2;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      background-color: black;
      border-radius: 5px;
      padding: 3px; }

.imagen_logo {
  width: 150px;
  margin-left: 140%; }

.dos_columnas {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-top: 50px; }

.imagen_central {
  width: 90%; }

.parrafo {
  color: #e7e3e2;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 10px; }

.nros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 7%;
  margin-top: 70px;
  margin-bottom: 70px;
  height: 250px; }

.card2 {
  background-color: #e7e3e2;
  width: 10%;
  margin-right: 10%;
  border: 7px groove black;
  padding: 10px; }

.card__imagen {
  width: 30%;
  margin-left: 25%;
  padding: 15px; }

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px; }

.videos_arqs {
  width: 33%;
  height: 330px;
  padding: 10px; }

.etiquetas__obras {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 20px; }

.card__obras {
  background-color: #dea26c;
  width: 450px;
  height: 520px;
  margin-right: 2%;
  margin-top: 2%;
  padding: 1px;
  border: 5px solid black; }

.card__imagen__obra {
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%; }

.btn {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 500;
  padding: 2px 8px;
  background: black;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }
  .btn:hover {
    color: white;
    box-shadow: 0 4px 16px #318aac;
    transition: all 0.2s ease; }

.form_contacto {
  display: flex;
  justify-content: center; }

.tabla {
  background-color: #dea26c;
  border: 5px solid black;
  width: 300px;
  margin: 50px;
  padding: 20px;
  border-radius: 15px; }

.btn_submit {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 500;
  padding: 2px 8px;
  background: black;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 30px; }
  .btn_submit:hover {
    color: white;
    box-shadow: 0 4px 16px #318aac;
    transition: all 0.2s ease; }

.btn_reset {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 500;
  padding: 2px 8px;
  background: black;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }
  .btn_reset:hover {
  color: white;
  box-shadow: 0 4px 16px #318aac;
  transition: all 0.2s ease; }

.titulo1 {
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-left: 3%;
  margin-bottom: 0%;
  margin-top: 3%; }

.titulo2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px; }

.titulo3 {
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-left: 3%;
  margin-top: 0%;
  margin-bottom: 5%; }

.parrafo2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 20px; }

.desarrolladores {
  color: #e7e3e2;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 10%; }

.titulo_gral_obras {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  font-size: 30px;
  color: #e7e3e2; }

.titulo_obras {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 2px; }

.descripcion_obras {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 15px; }

.titulo5 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #a26e49; }

.social {
  list-style: none;
  padding: 5px;
  width: 12%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-left: 40%; }
  .social li {
    padding: 20px;
    width: 20px; }
    .social li a {
      text-decoration: none;
      text-align: center;
      padding: 10px; }

.whatsapp {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  z-index: 2; }
